.detail_title {
  display: block;
}
.product_category {
  display: block;
  height: 36px;
  padding: 0 12px;
  font-size: 12px;
  line-height: 38px;
  border-bottom: 1px solid #cfcfcf;
  background-color: #fafafa;
  a {
    text-decoration: none;
    color: #333;
  }
}
.arrow {
  margin-left: 11px;
  margin-right: 9px;
}
.group {
  font-weight: 700;
  font-style: normal;
}
