.product_head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  min-width: 320px;
  height: 55px;
  margin: 0 auto;
  border: 1px solid lightgreen;
  background-color: #fafafa;
  z-index: 1;
}
.title_box {
  text-align: center;
}
.header_title {
  height: 55px;
  line-height: 55px;
  font-weight: bold;
  font-size: 15px;
}
.left_tool_box {
  position: absolute;
  left: 0;
  top: 0;
}
.right_tool_box {
  position: absolute;
  right: 10px;
  top: 15px;
}
.back_btn {
  display: block;
  float: left;
  width: 42px;
  height: 55px;
}
.back_img {
  display: block;
  background-image: url("../../../asset/icon/ico_makers_v2_320.png");
  background-position: -120px 0;
  margin: 17px auto 0;
  width: 18px;
  height: 18px;
}
.home_btn {
  display: block;
  float: left;
  width: 42px;
  height: 55px;
}
.home_img {
  display: block;
  background-image: url("../../../asset/icon/ico_makers_v2_320.png");
  background-position: -100px 0;
  width: 18px;
  height: 20px;
  margin: 15px auto 0;
}
.search_btn {
  display: block;
  height: 55px;
  position: relative;
  top: 2px;
  left: 3px;
}
.search_img {
  display: block;
  background-image: url("../../../asset/icon/ico_makers_v2_320.png");
  background-position: -120px -20px;
  width: 18px;
  height: 18px;
}
