.productHead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 640px;
  min-width: 320px;
  height: 55px;
  margin: 0 auto;
  /* border: 1px solid lightgreen;
  background-color: #fafafa; */
  z-index: 0;
}
.titleContainer {
  border-bottom: 1px solid #f0f0f0;
  background-color: #fff;
}
.titleBox {
  text-align: center;
  margin: 0;
}
.headerTitle {
  height: 55px;
  line-height: 55px;
  font-weight: bold;
  font-size: 15px;
}
.leftToolBox {
  position: absolute;
  left: 0;
  top: 0;
}
.rightToolBox {
  position: absolute;
  right: 10px;
  top: 15px;
}
.backBtn {
  display: block;
  float: left;
  width: 42px;
  height: 55px;
}
.backImg {
  display: block;
  background-image: url("../../../assets/icon/ico_makers_v2_320.png");
  background-position: -120px 0;
  margin: 17px auto 0;
  width: 18px;
  height: 18px;
}
.homeBtn {
  display: block;
  float: left;
  width: 42px;
  height: 55px;
}
.homeImg {
  display: block;
  background-image: url("../../../assets/icon/ico_makers_v2_320.png");
  background-position: -100px 0;
  width: 18px;
  height: 20px;
  margin: 15px auto 0;
}
.searchBtn {
  display: block;
  height: 55px;
  position: relative;
  top: 2px;
  left: 3px;
}
.searchImg {
  display: block;
  background-image: url("../../../assets/icon/ico_makers_v2_320.png");
  background-position: -120px -20px;
  width: 18px;
  height: 18px;
}
