.infoList {
  padding: 28px 12px 20px;
  border-bottom: 12px solid #ededed;
}
.referenceList {
  padding: 0 12px 20px;
  border-bottom: 12px solid #ededed;
  ul {
    margin: 0;
    padding: 0;
  }
}
