.datailInformationBox {
  * {
    font-size: 14px;
  }
}
.detail {
  padding: 45px 10px 45px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.11px;
  text-align: center;

  em {
    font-style: normal;
    display: block;
  }
  .period {
    padding-top: 16px;
  }
}
.openmark {
  margin-bottom: 16px;
  background-image: url("../../../assets/icon/ico_product_v2_320.png");
  background-position: 0 -20px;
  display: block;
  width: 13px;
  height: 10px;
  margin: 0 auto;
  margin-bottom: 18px;
}
.closemark {
  background-image: url("../../../assets/icon/ico_product_v2_320.png");
  background-position: 0 -30px;
  display: block;
  width: 13px;
  height: 10px;
  margin: 0 auto;
  margin-top: 18px;
}
.infoThumb {
  width: 100%;
  display: inline-block;
}
.newThumbImg {
  width: 100%;
  vertical-align: top;
}
.thumbImg {
  width: 100%;
}
.detailText1 {
  margin-top: 43px;
  margin-left: 18px;
  margin-right: 18px;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: -0.025em;
  line-height: 35px;
  word-break: keep-all;
}
.detailText3 {
  margin: 20px 18px 0 18px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.0025em;
  line-height: 29px;
  word-break: keep-all;
}
.detailText2 {
  margin: 28px 18px 0 18px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 30px;
  word-break: keep-all;
}
.titleImg {
  margin-top: 80px;
  width: 100%;
  vertical-align: top;
}
.itemReview {
  width: 100%;
  vertical-align: top;
  background-color: #f2efe8;
  text-align: center;
  display: table;
}
.contentBox {
  width: auto;
  margin: 35px 14px 0px 14px;
  padding: 5px 15px 25px 15px;
  background-color: #fff;
  text-align: left;
}
.content {
  font-size: 14px;
  width: 100%;
  margin-top: 5px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
  word-break: keep-all;
}
.up {
  height: 80px;
}
.top {
  margin-top: 70px;
}
