.wrap {
  padding: 10px;
  font-size: 12px;
}

.itemName {
  font-weight: bold;
}

.orderBtn {
  margin-top: 16px;
  display: inline-block;
  border: 1px solid #e8e8e8;
  background-color: white;
  font-weight: bold;
  padding: 4px 11px;
  font-size: 11px;
  color: #1a1a1a;
}
