.myPage {
  max-width: 640px;
  margin: 0 auto;
}

.navLikedAndOrder {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
}

//좋아요 , 주문 및 배송 내역
.navLikedAndOrderWrap {
  max-width: 640px;
  margin: 0 auto;
}

.navLikedAndOrder {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
}

.itemContainer {
  display: flex;
  width: 640px;
}

.myPageContainer {
  max-width: 640px;
  min-width: 320px;
  margin-top: 100px;
}
