.myPageContainer {
  // position: fixed;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin-top: 100px;
}
.all{
  max-width: 640px;
  margin: 0 auto;
}
.navLikedAndOrder {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
}