.OrderFooter {
  max-width: 620px;
  bottom: 0;
  margin-top: 300px;
  padding: 20px;
  width: 100%;
  color: #A6A6A6;
  letter-spacing: -0.03em;
  font-size: 14px;
  border-top: solid 1px;
}
.kakao {
  font-size: large;
}