.wrap {
  position: relative;
  height: 180px;
  width: 100%;
  border-bottom: solid 1px #c1c1c1;
}
.img {
  width: 140px;
  height: 140px;
  margin: 20px;
}
.status {
  position: absolute;
  margin: auto;
  left: 190px;
  top: 40px;
  border: 1px solid;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: small;
  letter-spacing: 0.2em;
  line-height: 30px;
  color: white;
  background-color: #c0c0c0;
}
.title {
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 200px;
}
