.Article {
  width: 100%;
  div:focus {
    outline: none;
  }
}
.titBox {
  display: block;
  padding: 18px 12px 10px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.titName {
  display: block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  text-decoration: none;
  color: #333;
}
.titPrice {
  display: block;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0px;
}
.linkBtn {
  position: absolute;
  display: block;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
}
.linkImg {
  background-image: url("../../../assets/icon/ico_product_v2_320.png");
  background-repeat: no-repeat no-repeat;
  background-position: 0 0;
  display: inline-block;
  width: 19px;
  height: 18px;
  margin: 11px 0 0 10px;
}
.contentLine {
  height: 12px;
  background-color: #ededed;
}
.shippingInfo {
  padding: 21px 12px 18px;
}
.shippingTitle {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
}
.shippingText {
  padding-top: 5px;
  font-size: 14px;
}
.shippingTextDetail {
  font-weight: bold;
  font-style: normal;
  color: #db635d;
  letter-spacing: 0px;
}
.choice {
  font-weight: bold;
  font-size: 15px;
  color: #db635d;
  display: block;
  height: 100%;
  letter-spacing: -0.35px;
  line-height: 44px;
}
ul {
  display: block;
  list-style: none;
}
.informationList {
  border-bottom: 1px solid #f0f0f0;
  height: 48px;
  padding: 0;
  margin: 0;
}
.inquiry {
  display: block;
  border-bottom: 12px solid #ededed;
  margin-bottom: 100px;
}
.mainContent {
  border-bottom: 12px solid #ededed;
}
