.tit_box {
  display: block;
  padding: 18px 12px 10px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.tit_name {
  display: block;
  font-size: 14px;
  font-weight: normal;
}
.tit_price {
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.link_btn {
  position: absolute;
  display: block;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
}
.link_img {
  background-image: url("../../../asset/icon/ico_product_v2_320.png");
  background-repeat: no-repeat no-repeat;
  background-position: 0 0;
  display: inline-block;
  width: 19px;
  height: 18px;
  margin: 11px 0 0 10px;
}
.content_line {
  height: 12px;
  background-color: #ededed;
}
.shipping_info {
  padding: 21px 12px 18px;
}
.shipping_title {
  font-size: 18px;
  font-weight: bold;
}
.shipping_text {
  padding-top: 5px;
  font-size: 14px;
}
.shipping_text_detail {
  font-weight: bold;
  font-style: normal;
  color: #db635d;
}
.choice {
  font-weight: bold;
  font-size: 15px;
  color: #db635d;
  display: block;
  height: 100%;
  letter-spacing: -0.35px;
  line-height: 44px;
}

ul {
  display: block;
  list-style: none;
}
.li {
  list-style: none;
  width: 33.333%;
  float: left;
  height: 48px;
  line-height: 44px;
  text-align: center;
}
.information_list {
  border-bottom: 1px solid #f0f0f0;
  height: 48px;
}
.productinfo {
  display: block;
  height: 100%;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.35px;
  cursor: pointer;
}
.infoblock {
  display: none;
  height: 100%;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.35px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.information_txt {
  display: inline-block;
  position: relative;
  height: 100%;
  padding-top: 4px;
  font-weight: bold;
  font-size: 15px;
}
.txt_count {
  font-weight: normal;
  font-size: 10px;
  letter-spacing: -0.35px;
}
.maincontent {
  display: block;
  height: 300px;
  border-bottom: 12px solid #ededed;
  clear: both;
  content: "";
}
.basiccontent {
  display: block;
  border-bottom: 12px solid #ededed;
  margin-bottom: 100px;
}
.inquiry {
  display: block;
  border-bottom: 12px solid #ededed;
  margin-bottom: 100px;
}
/* 
.foo {
  padding: 0;
  transition: 0.5s;
}

.foo.bar {
  padding: 20px;
}
 */
