.tabBtn {
  background-color: #ffffff;
  color: #000000;
  display: inline-block;
  width: auto;
  padding: 8px 29px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #000000;
  border-radius: 22px;
  margin-right: 16px;
}
.tabBtnBlack {
  background-color: #000000;
  color: #ffffff;
}
.tabBtnText {
  position: relative;
  // top: 1px;
  font-size: 14px;
}
