.categoryItem {
  display: inline-block;
  width: 45%;
  text-align: left;
  font-size: 14px;
  padding-left: 4px;
  margin-left: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.categoryLink {
  padding: 0 18px;
}
.categoryText {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 16px 0;
  line-height: 0.98;
  color: #7e7e7e;
}
