.prodOrders {
  display: block;
  margin-top: 18px;
  font-weight: 600;
  font-size: 14px;
  color: #db635d;
  line-height: 1.17;
  letter-spacing: 0.5px;
  .proOrdersNum {
    font-weight: 700;
  }
}
