.prodLikes {
  position: relative;
  display: inline-block;
  padding: 14px 16px 12px 42px;
  margin-top: 18px;
  border: 1px solid #ebebeb;
  font-weight: 700;
  font-size: 12px;
  color: #4a4a4a;
  line-height: 14px;
  background-color: #ffffff;
}
.likeIcon {
  position: absolute;
  top: 12px;
  left: 12px;
  display: inline-block;
  width: 21px;
  height: 19px;
  background-size: 21px auto;
  background-position: 0 -19px;
  background-repeat: no-repeat;
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
  overflow: hidden;
  -webkit-transform: scale(0.86);
  transform: scale(0.86);
}
.likeIconTrue {
  background-position: 0 0px;
}
.reBuyNoti {
  display: inline-block;
  position: absolute;
  top: 0px;
  margin-top: 12px;
  padding-top: 1px;
  left: 18px;
  width: 23px;
  height: 23px;
  background-size: 14px 16px;
  background-repeat: no-repeat;
}
.sideBackDrop {
  z-index: 1900;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.3);
}
