.tagStyle {
  display: inline-block;
  margin-left: 12px;
  padding: 10px 14px 8px;
  font-size: 12px;
  text-align: center;
  color: #1a1a1a;
  letter-spacing: -0.1px;
  border: 1px solid #1a1a1a;
}
