.artistWrap {
  width: 100%;
  padding-top: 104px;
}
.artistWrapPadding {
  padding: 36px 15px 24px 15px;
}
.coverStory {
  display: block;
  margin-left: 4px;
  margin-right: 4px;
}
.label {
  display: inline-block;
  padding: 0 6px;
  background-color: #d95454;
}
.labelText {
  font-size: 12px;
  color: #ffffff;
}
.title {
  margin-top: 10px;
}
.titleText {
  font-size: 33px;
  color: #404040;
  font-weight: bold;
  line-height: 40px;
}
.coverStoryDesc {
  margin-top: 14px;
}
.desc {
  font-size: 15px;
  line-height: 22px;
  color: #5e5e5e;
  letter-spacing: 0.5px;
}
.coverStoryImg {
  margin-top: 24px;
  position: relative;
}
.thumbnail {
  display: block;
  width: 100%;
}
.metaWrap {
  position: absolute;
  bottom: 24px;
  bottom: 10%;
  right: 0;
  display: inline-block;
  padding: 4px 18px 8px;
  background-color: rgba(255, 255, 255, 0.7);
}
.metaLeft {
  float: left;
  margin-right: 20px;
}
.descriptionTitle {
  font-size: 11px;
  color: #000000;
  font-weight: bold;
  padding: 4px 0;
}
.description {
  font-size: 11px;
  color: #676767;
  letter-spacing: 0.5px;
}
.metaRight {
  float: left;
}
.hidden {
  visibility: hidden;
}
.featuredItems {
  margin-top: 14px;
}
.rowArtistList {
  margin-top: 34px;
  border: 1px solid red;
}
.wrapArtistItem {
  width: 100%;
}
.artistItemImg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.wrapArtistItemInfo {
  border: 1px solid blue;
  padding: 8px 12px;
}
.artistItemTag {
  display: block;
  font-size: 12px;
  color: #b1b1b1;
}
.artistItemTitle {
  display: block;
  margin-right: 27%;
  font-size: 18px;
  color: #5a5a5a;
  font-weight: bold;
  padding-top: 6px;
}
.artistItemType {
  display: block;
  margin-top: 6px;
  font-weight: 300;
  font-size: 15px;
  word-wrap: break-word;
  word-break: keep-all;
  /* word-break: break-all; */
  letter-spacing: 0;
}
.artistItemMakers {
  font-weight: bold;
  color: #9a9a9a;
}
