.mdProdHeaderWrap {
  margin-top: 10px;
  border-top: 1px solid #1a1a1a;
  background-color: #fff;
}

.mdProdHeader {
  padding: 32px 20px 31px 19px;
}
.headerLogo {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: 18px auto;
  background-image: url("../../assets/makers_app_download_black.png");
  position: relative;
  top: 3px;
  left: -3px;
}
.headerTitle {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  color: #1a1a1a;
  margin-left: 4px;
}
