.orderCountBox {
  padding: 20px 12px 0;
}
.countInfo {
  border-bottom: 1px solid #f1f1f1;
}
.orderSet {
  font-size: 20px;
  display: inline-block;
  font-weight: lighter;
}

/* graph */

.orderGraph {
  padding: 10px 0 17px;
}
.orderText {
  display: block;
  font-weight: bold;
}
.graph {
  position: relative;
  height: 5px;
  margin: 21px 0 33px;
  background-color: #dedede;
}
.sellLine {
  width: 34%;
  height: 5px;
  background-color: #db635d;
}
.maxPoint {
  position: absolute;
  top: -4px;
  right: 0;
  margin-left: -29px;
  text-align: right;
  color: #808080;
  line-height: 4px;
}
.max {
  background-color: #848484;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  font-size: 1px;
  margin-bottom: 5px;
  margin-right: -3px;
}
.count {
  display: block;
  font-size: 11px;
}
.minPoint {
  position: absolute;
  top: -4px;
  width: 32px;
  margin-left: -22px;
  text-align: center;
  color: #e05555;
  left: 17%;
  line-height: 7px;
}
.min {
  background-color: #e05555;
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 3px solid #fff;
  font-size: 1px;
  border-radius: 50%;
  margin-bottom: 3px;
  margin-right: -3px;
  vertical-align: top;
}
.div {
  display: block;
}
.orderCount {
  color: #8e8e8e;
  font-size: 10px;
  padding-bottom: 5px;
}
.minColor,
.maxColor {
  background-color: #db635d;
  width: 7px;
  height: 7px;
  margin: 2px 8px 0 0;
  border-radius: 50%;
  display: inline-block;
}
.maxColor {
  background-color: #848484;
}
p {
  display: block;
}
